#profile-pic {
    background-color: grey;
    background-image: url("../img/profile_pic.jpg");
    background-size: 200px auto;
    background-position: 0 -10px;
}

#my-name {
    font-size: 24pt;
}

a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    width: 130px;
}

button {
    width: 100%;
}

button:focus {
    outline: none;
}